<div class="container">
  {{#if signupComplete}}
    <div class="col-md-12">
      <i class="fa fa-coffee">Signup complete.</i>
  </div>
  {{else}}
      <p>&nbsp;</p>
      {{#if isDisabled}}
          <div style="width: 200px; margin:0 auto;">
             <i class="fa fa-coffee">Enter the required details to Signup</i>
          </div>
      {{else}}
          <div style="width: 200px; margin:0 auto;">
             <i class="fa fa-coffee">Thank you for the details.</i>
          </div>
      {{/if}}
      <p>&nbsp;</p>
    <form class="horizontal" {{action 'register' on='submit'}}>
        <div class="form-group {{if errors.username 'has-error' }}">
            <label class="col-lg-3 control-label">Username</label>
            <div class="col-lg-8">
            {{input class="form-control" id='username' placeholder='Enter Username' value=username class="form-control" autofocus="autofocus"}}
            {{#each errors.username as |error|}}
              <span class="hel-block">{{responseMsg}}</span>
            {{/each}}
            </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Email</label>
          <div class="col-lg-8">
          {{input id='email' placeholder='Enter Email' value=email class="form-control"}}
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Password</label>
          <div class="col-lg-8">
           {{input id='password' placeholder='Enter Password' type='password' value=password class="form-control"}}
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Confirm Password</label>
          <div class="col-lg-8">
           {{input id='confirm_password' placeholder='Confirm Password' type='password' value=confirm_password class="form-control"}}
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3"></label>
          <div class="col-lg-8">
            <button type="submit" class="btn btn-primary" disabled={{isDisabled}}>Sign Up</button>
          </div>
        </div>
        {{#if error}}
           <div class="col-md-12 alert">
              <i class="fa fa-coffee">{{error}}</i>
          </div>

        {{/if}}
    </form>
{{/if}}
</div>

